:root {
	--primary: #FFF;
	--secondary: #000;
}

* {
	box-sizing: border-box;
	scroll-behavior: smooth;
	margin: 0;
	padding: 0;
}

html {
	background-image: radial-gradient(circle at 0% 0%, #373b52, #252736 51%, #1d1e26);
}

body {
	height: 95vh;
	background-color:
}

h1 {
	color: #000;
	font-family: 'Open Sans', sans-serif;
	font-size: 2em;
	text-align: left;
	font-weight: bold;
	margin-left: 3rem;
	margin-top: 1rem;
	max-width: 900px;
}

h2 {
	color: #000;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.3em;
	text-align: left;
	font-weight: 100;
	margin-left: 3rem;
	max-width: 900px;
	line-height: 3em;
}

h3 {
	color: #000;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	text-align: left;
	font-weight: 100;
	margin-left: 3rem;
	margin-top: 1rem;
	max-width: 500px;
	line-height: 2em;
}

.bovenkant {
	width: 500px;
	height: 600px;
	background: white;
	border-radius: 70px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2rem;
	width: 11rem;
	border-radius: 100%;
}

div i {
	list-style: none;
	margin: 0 15px;
	color: blue;
	margin-left: 3rem;
	max-width: 500px;
	font-size: 2rem;
	transition: 0.6s;
	margin-top: 3rem;
}

